body {
    background-color: #333;
    background-attachment: fixed;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .form-container {
    width: 40%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 10px;
  }

  h1 {
      text-align: center;
      color: white;
      font-size:xx-large;
  }

  p {
      color: white;
      font-size: large;
  }

  .login-box {
    margin-top: 50px;
    margin-bottom: 0%;
    }

  form {
    padding: 40px 40px;
  }

  .title-box {
    padding: 20px;
}

.mb-4 p {
    color: rgb(214, 19, 19);
  }

  button {
    width: 15rem;
}

footer p {
    text-align: center;
}

.admin-box {
    text-align: center;
}