body {
  background-color: #333;
  background-attachment: fixed;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.formcontainer {
  width: 40%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
  color: white;
  font-size: xx-large;
}

p {
  color: white;
  font-size: large;
}

.loginbox {
  margin-top: 50px;
  margin-bottom: 0%;
}

form {
  padding: 40px 40px;
}

.titlebox {
  padding: 20px;
}

.mb-4 p {
  color: rgb(214, 19, 19);
}

.btn {
  width: 15rem;
}

.adminbox {
  text-align: center;
}
