
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.put,.btn{
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin: 5px;
}

/*.user{
  width: 500px;
  height: 200px;
  border: 2px solid black;
  margin: 10px;

}*/

.error {
  color: red;
}

.space {
  width: 4px;
  height: auto;
  display: inline-block;
}
